.statistical {
  //   background-color: red;
  border-radius: 20px;
  //   box-shadow: 0px 2px 20px 2px #1677ff;
  background-color: #33ccff;
  //   color: white;
}
.type {
  margin-left: 10px;
  top: 10px;
}
