.layout-admin {
  .admin-header {
    height: 50px;
    border-bottom: 1px solid #ebdede;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  }
}
a {
  text-decoration: none;
}
.iconMenu {
  margin-top: 6px;
}
.iconMenuAccount {
  margin-top: 2px;
}
