.iconAccount {
  .anticon svg {
    margin-bottom: 5px;
  }
}
.buttonAccount {
  background-color: rgb(94, 187, 241);
  color: white;
  border-radius: 50px;
  height: 40px;
  width: 100px;
  margin-top: 10px;
}
