.tab-container {
  padding: 0.5em;
  display: flex;
  .tab-left-content {
    padding: 0.8em 1em;
    width: 40%;
    // border: 1px solid #ccc;
    .title-order-infor {
      display: flex;
      justify-content: center;
      padding-top: 1.6em;
      padding-bottom: 0.7em;
    }
    .order-btn-paid {
      margin-top: 1rem;
      width: 100%;
      height: 2.5em;
      background-color: rgb(224, 42, 42);
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 1.2em;
      font-weight: bold;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
        background-color: rgb(206, 26, 26);
      }
    }
    .total-money {
      display: flex;
      flex-direction: column;
      .title {
        margin-bottom: 0.8em;
      }
      .num {
        font-weight: bold;
        font-size: large;
        color: rgb(8, 8, 8);
      }
    }
  }
  .tab-right-content {
    padding: 1em;
    width: 60%;
    background-color: #f6f6f6;
    border-radius: 0.7rem;
    // border: 1px dashed #ccc;
    .search-shoe-detail {
      // display: flex;
      // justify-content: center;
      padding-top: 0.7em;
    }
    .total-money {
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
      border: none;
      background-color: #ffffff;
      border-radius: 3px;
      padding: 1em;
      .title {
        font-weight: bold;
        font-size: medium;
      }
      .num {
        font-weight: bold;
        font-size: medium;
        color: red;
      }
    }
  }
}
